<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NumCheck App</h1>
    <form action="" method="post">
        {%csrf_token%}
        <h2>Largest Number</h2>
        {{form}}
        <button type="submit">Find Largest</button>
        {{result1}}
    </form>

    <form action="" method="post">
        {%csrf_token%}
        <h2>Check Odd or Even Number</h2>
        {{form2}}
        <button type="submit">Find</button>
        {{result2}}
    </form>

    <form action="" method="post">
        {%csrf_token%}
        <h2>Check Prime or Composite Number</h2>
        {{form3}}
        <button type="submit">Result</button>
        {{result3}}
    </form>
</body>
</html>